@import "variables";
@import "animations";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $cyan;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $bg-2;
  // font-family: "Roboto";
  // font-family: "Open Sans";
  font-family: "Staatliches";
  /* font-family: "Alegreya Sans"; */
  color: $default;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
}

.aboutme {
  text-align: center;
  background-color: $bg-1;
  padding: 10rem;
  border-bottom: 2px solid #49515f;
}

.aboutme__header {
  font-size: 9rem;
  letter-spacing: 0.3rem;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.aboutme__subhead {
  color: $cyan;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  animation-name: moveInRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.contact__list {
  margin: 0 auto;
  padding: 3rem;
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.contact__item {
  margin: 1rem;
  height: 5rem;

  &:hover {
    margin: 0.5rem;
  }
}

.contact__link:link,
.contact__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  height: 5rem;
  width: 5rem;
  position: relative;
  text-align: center;

  &:hover {
    height: 6rem;
    width: 6rem;
  }
}

.contact__link--linkedIn {
  background-color: #5680c2;
}

.contact__link--gitHub {
  background-color: $bg-3;
}

.contact__link--resume {
  background-color: #c29856;
}

.contact__link--email {
  background-color: #56c298;
}

.nav__icon {
  /* width: 4rem; */
  height: 4rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.projects__container {
  background-color: $bg-2;
  margin: 0 auto;
  width: 80%;
}

.projects__header {
  font-size: 4rem;
  font-weight: 100;
  text-align: left;
  padding-top: 3rem;
  margin: 0;
}

.projects__subhead {
  font-family: "Roboto", "Arial";
  font-size: 1.8rem;
  color: $cyan;
}

.projects__content {
  margin: 3rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__card {
  cursor: pointer;
  position: relative;
  width: 31%;
  padding-bottom: 30%;
  margin-bottom: 5rem;
  background-color: $bg-3;
  box-shadow: 0 0 10px #000;

  &:hover {
    background-color: $bg-4;
  }

  &__content {
  }
}

.project__card__content {
  // letter-spacing: 0.1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 2rem;
}

.project__card__content--name {
  text-align: center;
  font-size: 3.3rem;
}

.project__card__content--stack {
  & .stack--label {
    font-size: 2.5rem;
  }

  & .stack--item {
    font-size: 2.5rem;
  }
}

.project__card__modal {
  width: 100rem;
  height: 50rem;
}

.modal__imageContainer {
  display: flex;
  align-items: center;
  min-width: 60rem;
  max-width: 70rem;
  min-height: 50rem;
  background-color: #191a1d;
  padding: 2rem;
}

.modal__image {
  width: 100%;
}

.modal__content__container {
  background-color: #1f2023;
  padding: 2rem;
}

.modal__name {
  font-size: 3rem;
  color: $default;
}

.modal__techs_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2023;
}

.modal_techs_item {
  font-family: "Roboto";
  // letter-spacing: 0.1rem;
  font-size: 1.3rem;
  background-color: #21242b;
  color: $cyan;
  width: auto;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  border-radius: 3px;
  border: 1px solid $blue;
}

.modal__about__header {
  font-size: 2rem;
  margin: 1rem 0;
  color: $default;
}

.modal__about__content {
  font-size: 1.5rem;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
  color: $cyan;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.modal__projectNote {
  font-family: "Roboto";
  color: $red-1;
  font-size: 1.5rem;
}

.modal__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  // background-color: green;
  margin: 1rem 2rem 0 0;
}

.modal__links__anchor {
  text-decoration: none;
  cursor: pointer;
  font-family: "Staatliches";
  color: #242529;
  font-size: 2rem;
  height: 4rem;
  width: 8rem;
  border-radius: 5px;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__links__anchor--demo {
  background-color: $green;

  &:hover {
    background-color: hsl(286, 60%, 67%);
  }
}

.modal__links__anchor--code {
  background-color: $green;

  &:hover {
    background-color: hsl(286, 60%, 67%);
  }
}

.projects__item__container {
  border: 1px solid red;
  width: 100rem;
  height: 40rem;
  margin: 2rem auto;
  background-color: $bg-2;
}

.projects__item__image__container {
  height: 100%;
  width: 60%;
}

.projects__item__image {
  max-width: 100%;
  height: auto;
}

.projects__item__content {
  height: 100%;
  width: 40%;
  background-color: $bg-3;
}

.project__name {
  font-size: 3rem;
}

.project__techs {
  width: 100%;
  height: 7.5rem;
  font-size: 1.3rem;
}

.project__about__header {
  font-size: 1.5rem;
}

.project__about__content {
  flex-grow: 1;
  font-size: 1.4rem;
}

.project__links {
}

.footer {
  border-top: 2px solid #49515f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  padding: 3rem;
  text-align: center;
  background-color: $bg-1;
  font-size: 1.8rem;
  font-family: "Roboto";
}

/********* SLIDESHOW *********/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/********* END SLIDESHOW *********/

/********* MODAL *********/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100rem;
  height: 50rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********* END MODAL *********/

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: inherit;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  height: 5rem;
  width: 5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
